.container{
    margin-top: 100px !important;
    text-align: center !important;
}

.no__bullets{
  list-style-type: none;
}

.password__input{
  border: none;
  outline: none;
  border: none;
  outline: none;
  color: rgb(255, 255, 255); /* Set the text color */
  padding: 4px; /* Add padding for better appearance */
  border-radius: 2px; 
  font-weight: bold;
}

button{
  margin-top: 5px;
  border: none;
}

h2{
  font-weight: bolder;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

/* Container for the grid */
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns, equal width */
  gap: 10px; /* Space between grid items */
  margin-bottom: 20px; /* Space below the grid */
}

/* Style for each grid item */
.image-grid .item {
  position: relative; /* Position relative for absolute positioning of image if needed */
  overflow: hidden; /* Hide overflow content */
}

.image-grid .item img {
  width: 100%; /* Make image fill the container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove default spacing */
}

.figure-img {
  display: block;
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.header-img{
  height: 500px;
}

