.product-image {
    width: 100%; 
    height: 275px; 
    object-fit: cover; 
  }
  
.btn-custom{
  background-color: black;
  margin-left: 10px;
  padding: 7px;
  border: none;
}

.total-price{
   text-align: right;
   padding: 15px;
   margin-top: 50px;
   margin-bottom: 50px;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
}

.product-image {
  width: 100%; 
  height: 275px; 
  object-fit: cover; 
}

.btn-custom{
background-color: black;
margin-left: 10px;
padding: 7px;
border: none;
}

.btn-custom:hover{
  background-color: rgb(76, 199, 142);
  color: black;
}

.total-price{
 text-align: right;
 padding: 15px;
 margin-top: 50px;
 margin-bottom: 50px;
}

h2{
font-family: Arial, Helvetica, sans-serif;
}

.container{
  margin-top: 100px !important;
  text-align: center !important;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.no-gutters {
margin-right: 0;
margin-left: 0;
padding: 50px 0px;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
padding-right: 0;
padding-left: 0;
}

.figure {
margin: 0;
}

.figure-img {
display: block;
width: 100%;
height: auto; /* Maintain aspect ratio */
}

.col-2 mb-2{
padding-right: 5rem;
padding-left: 5rem;
margin-left: 5px;
margin-right: 5px;
}


.card-no-border {
border: none;
margin: 0;
padding: 0;
}

.card-no-border .card-img {
width: 100%;
height: auto; /* Maintain aspect ratio */
}

.card-body {
padding: 1rem; /* Adjust padding inside the card body as needed */
text-align: left;
border: none;
}

.card{
  border: none;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}


.header-image{
  max-width: 1300px;
  margin: 0px 0px 100px;
}

.products-header-text{
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 75px;
  position: absolute;
  color: azure;
  top: 740px;
  left: 315px;
}

.section-header{
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 80px;
  padding: 30px 0px;
}




