*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.App {
  text-align: center;
}

.nav__bar{
  background-color: #e6e6e6;
  position: fixed;
  color: white;
  gap: 900px;
  padding: 10px 10px;
  z-index: 1;
  display: grid; /* Change to grid display */
  grid-template-columns: repeat(4, 1fr); /* Create 4 equal-width columns */
  top: 0;
}

.nav__links{
  display: grid;
  grid-template-columns: repeat(3, auto);
  list-style-type: none;
  margin: 0;
  padding: 10pxs;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 35px;
}

.home_link{
  color: black;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
}

.about_link{
  color: black;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
}

.products_link{
  color: black;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
}

.home_header{
  border-radius: 5px;
  font-size: 35px;
  color: rgb(0, 0, 0);
  padding: 10px;
}